@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Hide default Swiper navigation buttons */
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

/* Custom pagination styles */
.swiper-pagination {
  bottom: 20px !important;
}


.custom-marker {
  display: flex;
  align-items: center;
  justify-content: center;
}

.marker-circle {
  width: 30px;
  height: 30px;
  background-color: #28a745;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.custombg {
  background: #34B271 !important;
}
